.menu {
  width: 100%;
  height: auto;
  /* border: 1px solid #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu h1 {
  font-size: 3rem;
  padding: 3rem;
}
.menuFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuFlex div {
  margin-bottom: 4rem;
}
.menuBoxes {
  width: 287.5px;
  height: 180px;
  border: 1px solid #417f56;
  border-radius: 1rem;
  margin: 5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  margin-bottom: 2rem;
}
.foodTitle {
  width: 184px;
  height: 60px;
  background-color: #417f56;
  border: 1px outset #417f56;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
  color: whitesmoke;
  transform: translateY(-5rem);
}
.menuBoxes img {
  margin-bottom: 7rem;
}
